/* Button to create a new group */
.create-group-button {
    background-color: black;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 9999px;
    width: max-content;
    text-align: center;
    padding: 0.25rem 1.75rem;
    cursor: pointer;
}

.create-group-button:hover {
    background-color: #333; /* Optional hover effect */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(47, 47, 47, 0.75);
    z-index: 110;
}

.modal-container {
    background-color: #FFFFFF;
    width: 700px;
    height: 317px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding: 40px 35px 30px;
    position: relative;
}

.modal-title {
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 45px;
    text-align: center;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.input-label {
    font-weight: 500;
    font-size: 23px;
    margin-right: 25px;
}

.input-field {
    width: 70%;
    height: 41px;
    font-size: 20px;
    border-radius: 9999px;
    border: 2px solid #CCCCCC;
    padding-left: 40px;
}

.error-message {
    font-size: 12px;
    color: red;
    position: absolute;
    bottom: -4vh;
    left: 15vw;
}

.color-picker-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    position: relative;
}

.color-label {
    font-weight: 500;
    font-size: 23px;
    margin-right: 25px;
}

.color-options {
    display: flex;
}

.color-option-input {
    width: 40px;
    display: none;
}

.color-option-label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 30px;
    color: #00000056;
    cursor: pointer;
}

.color-option-label:hover {
    box-shadow: -5px -5px 15px 4px rgba(0, 0, 0, 0.1),
                5px 5px 15px 4px rgba(0, 0, 0, 0.15);
}

.create-button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 50px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 30px;
    color: #000000af;
    font-size: 3rem;
    font-weight: 400;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .create-group-button {
        width: 90%;
        margin: 0.5rem auto;
    }

    .modal-container {
        width: 80%;
        height: 30vh;
        padding: 15px;
    }

    .modal-title {
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    .input-label,
    .color-label {
        font-size: 14px;
        font-weight: bold;
    }

    .input-field {
        font-size: 14px;
        width: 50%;
        padding-left: 10px;
        height: 23px;
    }

    .color-option-label {
        width: 17px;
        height: 17px;
        margin-right: 8px;
    }

    .create-button {
        right: 60px;
    }

    .error-message {
        font-size: 10px;
        bottom: 20px;
    }
}
