/* Pocket.css */

.pocket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 35vw;
    background-color: white;
    overflow: hidden;
    position: relative;
    z-index: 200;
  }
  
  .pocket-container-lg-active {
    display: block;
  }
  
  .pocket-container-lg-inactive {
    display: none;
  }
  
  .pocket-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-top: 2vh;
  }
  
  .pocket-title-text {
    font-size: 33px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }
  
  .new-group-container {
    width: 100%;
    height: 85vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .empty-group-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    color: #64748b;
    text-align: center;
  }
  
  .empty-group-message img {
    height: 50px;
  }
  
  .empty-group-heading {
    font-size: 3rem;
    margin-bottom: 2vh;
  }
  
  .empty-group-subtext {
    color: #94a3b8;
    font-size: 1.125rem; /* 18px */
  }
  
  .note-group {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 32px;
    transition: background-color 0.3s ease;
  }
  
  .note-group-selected {
    background-color: #f7ecdc;
  }
  
  .note-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    width: 68px;
    font-size: 24px;
    color: white;
    font-weight: 500;
    border-radius: 50%;
  }
  
  .note-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    padding-left: 30px;
  }
  