.app {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid black;
}
.sidebar {
  
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.group-icon {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.group-initials {
  margin-right: 8px;
  font-size: 14px;
  font-weight: bold;
}

.sidebar h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 41.02px;
  
 
}
.container {
  
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #DAE5F5;
  /* left: 435px; */
  
}

.content {
  text-align: center;
}
.content h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 58.59px;
}

.content p {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 100px;
}

img {
  width: 626px;
  height: 313px;
}
.footer {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer p {
  margin: 0;
  color: #292929;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.btn {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background-color: #16008B;
  color: #FFFFFF;
  font-size: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 60%;
}

.btn:hover{
  background-color: #1a074d;
}

.lock-icon {
  width: 17px;
  height: 21px;
  margin-right: 5px;
}