body {
    margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: roboto;
 }
 
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }
 ::-webkit-scrollbar {
     width: 10px;
   height: 90vh;
 }
 ::-webkit-scrollbar-track {
   border-radius: 4.5px;
     background: #51555b;
 
 }
 
 ::-webkit-scrollbar-thumb {
     border: 1px solid #d9d9d9;
     border-radius: 4.5px;
     background-color: #ffffffe8;
     
 }